:root{
    --primary-color: #24FF53;
    --white:  #ffffff;
    --light-gray-color: #EEEEEE;
    --gap: 3rem;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 6rem;
    text-transform: uppercase;
}
.main-content h2{
    font-size: 5.5rem;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 2rem;
}
h3{
    font-size: 5rem;
    
}
h4{
    font-size: 4.5rem;
    
}
h5{
    font-size: 4rem;
    color: rgb(0, 0, 0);
    text-align: center;
}
h6{
    font-size: 2.3rem;
    color: rgb(49, 47, 47);
    text-align: center;
}

p {
    text-align: center;
    color: black;
}

a {
    text-decoration: none;
}

ul {
    list-style: disc;
    padding-left: 2em;
    color: rgb(65, 61, 61);
    text-align: center;
    margin-top: 2rem;
}

li {
    margin-bottom: 0.5em;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: var(--primary-color);
    color: #fff;
}

video {
    align-content: center;
}

.main-bg{background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color:var(--white)
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section{
    min-height: 100vh;
}

.menu{
    background: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0.1rem solid var(--light-gray-color);
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0 ;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color: black;
}

.menu h1 a{
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color:black;
    position: relative;
}

.menu ul li a::after {
    content:'';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--primary-color);
    transition: all 300ms ease-in-out;

}
.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu-espacing{
    height: 65px;

}

.main-menu{background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color:var(--white);
    margin-top: 65px;
}

.intro-video{
    position: relative;
    padding-bottom: 56.25%;
    width: 80%; 
}

.intro-video iframe{
    top: 0;
    left: 0;
    width: 640px;
    height: 360px;
    margin-left: 12rem;
}





.texto2 h2 {
    color: #14a01f;
    font-size: 5.5rem;
    text-align: center;
    padding-top: 1rem;
}

.texto2 p {
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.texto2 section {
    margin: 2em;
    padding: 1em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}